<div class="container-fluid p-0">
  <section id="about" class="resume-section p-3 p-lg-5 d-flex d-column">
    <div class="my-auto">
      <h1>Felipe <span class="text-primary">Botelho</span></h1>
      <p class="mb-5">
        Formado em Sistemas de Informação, 
        sou desenvolvedor Web e Mobile bem conhecido no mercado como 
        <span class="text-primary">fullstack</span>
        <br />
        Tenho o foco no desenvolvimento de sistemas robustos, sites adaptados a qualquer situação e 
        aplicativos para android e IOS.
      </p>
      <p class="mb-5">
          Fale comigo, vamos descobrir a melhor solução para o seu negócio ou necessidade!
      </p>
      <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </li>
        <li class="list-inline-item">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </section>
  <section id="experience" class="resume-section p-3 p-lg-5 d-flex">
    <div class="my-auto">
      <h1>Experiência</h1>
      <p class="mb-5">
        Desenvolvedor web desde 2015. Comecei com PHP puro voltado a sistemas de pequeno porte para 
        empresas de viagem.
        <br />
        Com o auxilio do framework <a href="https://cakephp.org/" target="_blank">CakePHP</a> passei a 
        desenvolver sistemas para empresas 
        de crédito e tranporte financeiro, além de sites cada vez mais belos.
      </p>
      <p class="mb-0">
        Com a necessidade dos clientes em divulgar e prestar serviços nas prlataformas móveis, passei a desenvolver
        aplicativos híbridos (multi-plataforma) para atende-los da melhor forma possível.
        Hoje domino o desenvolvimento nativo para android
      </p>
      <p class="mb-5">
        Hoje atuo tanto no desenvolvimento web como mobile em sistemas de alta demanda com a segurança das 
        melhores tecnologias possíveis. 
      </p>
    </div>
  </section>
  <section id="education" class="resume-section p-3 p-lg-5 d-flex flex-column">
    <div class="my-auto">
    <h1>Formção <span class="text-primary">Acadêmica <i class="fa fa-graduation-cap" aria-hidden="true"></i> </span></h1>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Centro Universitário ENIAC</h3>
          <div class="subheading mb-3">Bacharelado em Sistemas de Informação</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Janeiro 2014 - Dezembro 2017</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Microsoft Virtual Academy MVA</h3>
            <div class="subheading mb-3">C# Fundamentals</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Outubro 2015</span>
          </div>
        </div>
    </div>
  </section>
  <section id="skills" class="resume-section p-3 p-lg-5 d-flex flex-column">
    <div class="my-auto">
      <h1>Habilidades</h1>
      <div class="subheading mb-3">Linguagens de Programação e FrameWorks</div>
      <ul class="list-inline list-icons">
          <li class="list-inline-item">
            <i class="devicons devicons-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-css3"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-javascript"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-jquery"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-bootstrap"></i>
          </li>
          <li class="list-inline-item">
              <i class="devicons devicons-android"></i>
            </li>
          <li class="list-inline-item">
            <i class="devicons devicons-dotnet"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-php"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-mysql"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-apple"></i>
          </li>
          <li class="list-inline-item">
              <i class="devicons devicons-git"></i>
            </li>
        </ul>
        <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Mobile-First, Design Responsivo
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Desenvolvimento Nativo &amp; Cross Platform
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Metodologia Ágil &amp; Scrum
            </li>
          </ul>
        
    </div>
  </section>
  <section id="interests" class="resume-section p-3 p-lg-5 d-flex flex-column">
    <div class="my-auto">
      <h1>Interesses</h1>
      <p class="mb-5">
        Criar soluções que vão além do valor comercial, que cubra todas as necessidades
        e faça a diferença na vida de quem as usa.
        <br />
        Ter o prazer e o recohecimento de um trabalho que faz a diferença. Com 
        qualidade, eficácia, determinação inovação. Sem medo de mudar e explorar novar técnologias e
        métodos de trabalho. Encarando todos os desafios com muita vontade.
      </p>
    </div>
  </section>
  <section id="awards" class="resume-section p-3 p-lg-5 d-flex flex-column">
     <div class="my-auto">
        <h1>Meus Trabalhos</h1>
        <div class="card col-md-4" style="width: 18rem;">
            <img class="card-img-top" src="http://unimetaltelhados.com.br/img/logo.png" alt="Unimetal telhados">
            <div class="card-body">
              <h5 class="card-title">Unimetal Telhados</h5>
              <p class="card-text">
                Site institucional voltado a telhados e seus tipos para informar melhor seus
                clientes.
              </p>
              <a href="http://unimetaltelhados.com.br/Home/index" target="_blank" class="btn btn-primary">Ir para o Site</a>
            </div>
          </div>
          <div class="card col-md-4" style="width: 18rem;">
            <img class="card-img-top" src="http://emntecdev.kinghost.net/img/logo.png" alt="Unimetal telhados">
            <div class="card-body">
              <h5 class="card-title">Unimetal Estruturas</h5>
              <p class="card-text">
                Site institucional que mostra os melhores produtos e serviços da Unimetal.
                <br />
                Busca aproximar o cliente da empresa com sua transparência.
              </p>
              <a href="http://emntecdev.kinghost.net/" target="_blank" class="btn btn-primary">Ir para o Site</a>
            </div>
          </div>
    </div> 
  </section>
</div>